body {
    background-color: #370617;
    padding: 20px;
}
.yellow__container {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: end;
    height: 100vh;
    margin: 20px;
}
.yellow__box {
    width: 40vw;
    height: 16vw;
    border: 20px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: #F48C06;
}

.red__container_a {
    display: flex;
    display: row;
    align-items: end;
}
.red__container_b {
    display: flex;
    display: row;
    justify-content: center;
}
.red__container_c {
    display: flex;
    display: row;
    justify-content: flex-end;
    align-items: center;
}
.red__container_d {
    display: flex;
    display: row;
    justify-content: space-between;
    align-items: start;
}
 .d-end {
    align-self: end;
} 
.red__container_e {
    display: flex;
    display: row;
    justify-content: space-evenly;
}


.red__box_e {
    display: flex;
    justify-content: center;
    align-items: center;
}
.red__box_e > p {
    color: white;
    font-family: "Roboto", system-ui;
    font-size: 1vw;
    padding-bottom: 30px; /*I don't know if there is a way to give position¨
    to the text and bump it up using flexbox.*/
}
.red__container_f {
    display: flex;
    display: row;
    justify-content: center;
    align-items: center;
}
.f-middle {
    flex-grow: 0.5;
}
.red__box {
    width: 7vw;
    min-height: 7vw;
    border: 10px;
    border-radius: 5px;
    margin: 10px;
    background-color: #9D0208;
}
.e-middle {
    align-self: center;
    min-height: 5.5vw; /*Couldn't find a way to shirink this vertically
    using flexbox.*/
}